.primary-color {
    color: #0C0A33 !important;
}

.primary-bg {
    background-color: #0C0A33 !important;
}

.primary-variant-color {
    color: #150D48 !important;
}

.primary-variant-bg{
    background-color: #150D48 !important;
}

.secondary-color {
    color: #7156E5 !important;
}

.secondary-bg {
    background-color: #7156E5 !important;
}

.secondary-border{
    border: solid 1px #7156E5 !important;
}