
.projects{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.projects_item{
    width: 220px;
}

.projects_item figure, .projects_item_img{
    width: 100%;
    margin: 0px;
}

.projects_item_title{
    font-size: 3vw;
    font-weight: bold;
    font-family: Bebas, sans-serif;
    margin: 18px 0px 18px 3px;
}

.projects_item p{
    font-size: 2vw;
}

.projects_item a{
    text-decoration: none;
    font-family: Bebas, sans-serif;
    color: #474747;
    font-weight: bold;
    font-size: 2.5vw;
}

.projects_item a i{
    display: inline-block;
    margin: 5px;
}

@media (min-width: 768px) {
    .projects_item_title{
        font-size: 18px;
    }

    .projects_item p{
        font-size: 12px;
    }

    .projects_item a{
        font-size: 16px;
    }
}