ion-img{
    height: 40vh;
}

.product__info__container, .seller__info__container{
    border-radius: 10px;
    background-color: var(--ion-item-background);
    padding: 10px;
    border: 1px solid white;
    margin-bottom: 20px;
}

h3{
    margin: 0 0 0px;
}

h5{
    margin: 0 0 5px;
}

h3,h5{
    color: var(--ion-toolbar-background);
    font-weight: bold;
}

.info__section{
    margin-bottom: 15px;
}

swiper-container{
    background-color: rgba($color: #FFF, $alpha: 0.1);
}

.location__img{
    height: auto;
    margin-bottom: 10px;
}